<a href="https://colab.research.google.com/github/JoyUgoyah/PMLcourse/blob/master/MeanSquaredError_JoyUgoyah.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
class Linearmodel:
    def __init__(self,*args):
        self.x = None
        self.y = None
        
    def train(self,x,y):
        self.x = np.array(x)
        self.y = np.array(y)
        self.n = len(self.x)
        self.x_sum = (self.x).sum()
        self.y_sum = (self.y).sum()
        self.sum_xy = (self.x * self.y).sum()
        self.x_squared_sum = (self.x**2).sum()
        self.nume = self.n*self.sum_xy - (self.x_sum*self.y_sum)
        self.denum = self.n*self.x_squared_sum - self.x_sum**2
        self.coef = self.nume/self.denum
        self.intercept = (self.y).mean()-self.coef*(self.x).mean()
        
    def predict(self,x):
        y_predict = self.intercept+self.coef*np.array(x)
        return y_predict
    
    def loss(self,x,y,y_predict):
        MSE = ((y-y_predict)**2)/self.n
        table1 = {'x':(x), 'y':(y), 'y_predict':(y_predict), 'MSE':(MSE)}
        df = pd.DataFrame(table1, index = [0,1,2,3,4])
        return df

In [0]:
model1 = Linearmodel()

In [0]:
data=np.array([[4.2,8.4],[2.7,6.2],[8.9,12.5],[8.2,10.5],[10.2,13]])
print(np.array2string(data).replace('[[', '[').replace(']]',']'))

[ 4.2  8.4]
 [ 2.7  6.2]
 [ 8.9 12.5]
 [ 8.2 10.5]
 [10.2 13. ]

In [0]:
x=data[:,0]
y=data[:,1]

In [0]:
model1.train(x,y)

In [0]:
# y_predict = model1.predict(x)

In [0]:
model1.loss(x,y,y_predict)

      x     y  y_predict       MSE
0   4.2   8.4   7.837964  0.063177
1   2.7   6.2   6.541353  0.023304
2   8.9  12.5  11.900680  0.071837
3   8.2  10.5  11.295594  0.126594
4  10.2  13.0  13.024410  0.000119